
# BEGIN WordPress
# دستورالعمل‌های (خطوط) بین "BEGIN WordPress" و "END WordPress"
# به طور پویا تولید شده‌اند، و فقط باید به وسیلهٔ صافی‌های وردرپرس ویرایش شوند.
# هر تغییری در دستورالعمل‌های بین این نشان‌گرها بازنویشی خواهند شد.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /Test01/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Test01/index.php [L]
</IfModule>

# END WordPress
# Begin AIOWPSEC Firewall
	<IfModule mod_php5.c>
		php_value auto_prepend_file 'C:/wamp64/wamp/www/Test01/aios-bootstrap.php'
	</IfModule>
	<IfModule mod_php7.c>
		php_value auto_prepend_file 'C:/wamp64/wamp/www/Test01/aios-bootstrap.php'
	</IfModule>
	<IfModule mod_php.c>
		php_value auto_prepend_file 'C:/wamp64/wamp/www/Test01/aios-bootstrap.php'
	</IfModule>
# End AIOWPSEC Firewall